$line-height-base: 1;
$font-family-base: Helvetica, sans-serif;
$link-color: #336699;
$link-hover-color: #5af;
$link-hover-decoration: none;
$primary: #369;
$border-radius: 0;

@import "node_modules/bootstrap/scss/bootstrap";